<div class="container">
  <h1><%="OH SHIGGITY SNAP, UR WRONG" if @wrong %></h1>
  <p>Cards Completed: <%= @game.cards_completed %></p>
  <p>Cards Skipped: <%= @game.cards_skipped %></p>
  <h2><%= @card.question %></h2>

  <form action="/<%= @game.user.username %>/games/<%= @game.id %>" method="POST">
    <input type="text" name="answer" placeholder="Your Answer">
    <input type="submit">
  </form>

  <p><%=   @game.deck_position %></p>


  <a href="/<%= @game.user.username %>/games/<%= @game.id %>/answer"><input type="submit" value="Flip"></a>
  <a href="/<%= @game.user.username %>/games/<%= @game.id %>/skip"><input type="submit" value="Skip"></a>
</div>
