<div class="container">
  <h1><%="OH SHIGGITY SNAP, UR WRONG" if @wrong %></h1>
  <h2><%= @card.question %></h2>
  <h2><%= @card.answer %></h2>

  <a href="/games/<%= @game.id %>"><input type="submit" value="Flip"></a>
  <a href="/games/<%= @game.id %>/skip"><input type="submit" value="Skip"></a>
  <br><hr>
  <button type="submit"><a href="/decks">Back to Decks</a></button>
  <button type="submit"><a href="/users">Log Out</a></button>
</div>
