<div class="container">
  <h1><%="WRANG" if @wrong %></h1>
  <h2><%= @card.question %></h2>
  <form action="/decks/<%= @deck.title %>/cards/<%= @deck_position %>/answer" method="POST">
    <input type="text" name="answer" placeholder="Your Answer">
    <input type="submit">
  </form>
  <a href="/decks/<%= @deck.title %>/cards/<%= @deck_position %>/answer"><input type="submit" value="Flip"></a>
  <a href="/decks/<%= @deck.title %>/cards/<%= @deck_position %>/skip"><input type="submit" value="Skip"></a>
</div>
