<div class="container">
  <h1><%="OH SHIGGITY SNAP, UR WRONG" if @wrong %></h1>
  <p>Cards Completed: <%= @game.cards_completed %></p>
  <p>Cards Skipped: <%= @game.cards_skipped %></p>
  <h2><%= @card.question %></h2>

  <form action="/games/<%= @game.id %>" method="POST">
    <input type="text" name="answer" placeholder="Your Answer">
    <input type="submit">
  </form>

  <a href="/games/<%= @game.id %>/answer"><input type="submit" value="Flip"></a>
  <a href="/games/<%= @game.id %>/skip"><input type="submit" value="Skip"></a>
  <br><hr>
  <button type="submit"><a href="/decks">Back to Decks</a></button>
  <button type="submit"><a href="/users">Log Out</a></button>
</div>
