<div class="container">
  <h1>Congratulations, <%= @user.username %>!</h1>
  <h2>You've completed <%= @game.deck.title %></h2>

  <h3>Stats for game <%= @game.id %>:</h3>
    <p>Cards Completed: <%= @game.cards_completed %></p>
    <p>Cards Skipped: <%= @game.cards_skipped %></p>
    <p>Cards total in deck: <%= @deck.cards.length %></p>

  <button type="submit"><a href="/decks">Back To Decks</a></button>
  <button type="submit"><a href="/users">Log Out</a></button>
</div>
