<div class="container">
<input type="hidden" name="user_id" value="<%= session[:user_id] %>">
  <p>Welcome, <%= User.find(session[:user_id]).username %>.</p>
  <h1>Choose Your Destiny</h1>

  <!-- Continue Game -->
    <p><%= "No games to continue. Start a new game!" if @no_continue %></p>
    <form action="/games/continue" method="POST">
      <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
      <input type="submit" value="Continue Game">
    </form>

    <br>

  <% @decks.each do |deck| %>
    <p><a href="/decks/<%= deck.title %>/cards"><%= deck.title %></a></p>
  <% end %>

  <button type="submit"><a href="/users">Log Out</a></button>

</div>
